

@use '@material/theme' with (
  $primary: #6200ee,
  $secondary: #faab1a,
  $background: #fff,
);

// MDC Typography
@use '@material/typography/mdc-typography';

// MDC Button


// Angular MDC
@use '@angular-mdc/theme/material';

@use '@material/button/mdc-button';
@use '@material/button';


.button-primary {
  @include button.filled-accessible(theme.$primary);
}

.button-secondary {
  @include button.filled-accessible(theme.$secondary);
}
