
@use '@material/card/mdc-card';
@use '@material/card';
@use "@material/theme";
@use "@material/rtl";
@use '@material/icon-button/mdc-icon-button';
@use '@material/button/mdc-button';
@use '@material/button';

.imgHome{
  width: 350px;
}


.card {
  width: 350px;
  margin: 28px;
}


.card__primary {
  padding: 1rem;
}

.card__title {
  margin: 0;
}

.card__subtitle {
  @include theme.prop(color, text-secondary-on-background);

  margin: 0;
}

.card__secondary {
  @include theme.prop(color, text-secondary-on-background);

  padding: 0 1rem 8px 1rem;
}


